<div class="resume" ng-controller="ResumeCtrl">
    <div class="header">
        <div class="container">
            <a href="#/projects" class="btn btn-back hide"><i class="fa fa-arrow-left"></i> <span class="hidden-xs">Go Back</span></a>
            <div class="row">
                <div class="col-sm-6">
                    <div class="main-titles">
                        <h1 class="text-lg cre">Creative,</h1>
                        <h1 class="text-lg pas">Passionate,</h1>
                        <h1 class="text-lg"><span class="exp">&Explorer.</span></h1>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <img src="public/img/people/me-formal.png" alt="Raman Choudhary" class="img-responsive meri-photo">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main para">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <div class="div">
                        <h1 class="title underline">Career Goal</h1>
                        <h3 class="para h3">
                         I intend to build my career with a company driven by what they do. Want to work with other committed and dedicated people which will help me to explore  myself fully and realize my potential thereby accomplishing my 
individual goals along with the goals of the organization 
and also have a continual growth on my learning and 
knowledge curve.
                      </h3>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="div">
                       <h4><b>Basic Information</b></h4>
                        <table class="side-info">
                            <tr>
                                <td>Name</td>
                                <td>A SAI RAHUL</td>
                            </tr>
                            <tr>
                                <td>Age</td>
                                <td>21</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>dravid.rahul1526@gmail.com</td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>+91 7728086647</td>
                            </tr>
                            
                            <tr>
                                <td>Address</td>
                                <td>3-9-62, Shah Bazar, Mahabubnagar, Telangana.</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <div>
                        <h1 class="title underline">
                          Education
                      </h1>

                        <div class="row">
                            <div class="col-sm-6">
                                <h4>School</h4>
                                <p><b>10th SSC</b> : 93.8%</p>
                                <p>(Graduated in 2011 with First class) </p>
                                <p><b>Sri Bala Sai High School</b>, Kurnool, Andhra Pradesh.</p>
                                <div class="line base"></div>
                                </br>
                                <p><b>12th IPE</b> : 95.9%</p>
                                <p><i>MPC Student</i> </p>
                                <p>(Graduated in 2013 with First Class)</p>
                                <p><b>St. Patricks Junior College</b>, Hyderabad, Telangana.</p>

                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <h4>Undergrad</h4>
                                    <p>
                                        <b>Bachelor of Engineering Computer Science, Master of Science Bilogocal Sciences</b>
                                    </p>
                                    <p><i>(Pursuing)</i></p>
                                    <p><b>BITS Pilani - Pilani Campus</b>, Jhunjhunu, Rajasthan.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <h1 class="title underline">
                    Extra-Curricular
                </h1>
                    <ul>
                        <li>Actively involved in organizing college fest events, responsible as the APOGEE(Tech fest) Co-ordinator for Coding CLub, while pursuing my degree at BITS Pilani - Pilani Campus. </li>
                    </ul>
                </div>
            </div>

            <div class="row exprience">
                <div class="col-sm-8">
                    <h1 class="title underline">Experience</h1>
                    <div>
                        <h3><strong>What Can I Give</strong></h3>
                        <h4>App Developer (iOS & Andorid)</h4>
                        <ul>
                            <li>I have always been interested in creating solutions, to problems I face, through mobile apps. And also inerested in making mobile games.</li>
                            <li>These are the apps I published till now on <a href="https://itunes.apple.com/us/developer/sai-krishna/id1058420203" target="_blank">App Store</a> and <a href="https://play.google.com/store/apps/developer?id=Sai+Krishna" target="_blank">Play Store</a>.</li>
                        </ul>


                        <h4>Game Develeloper</h4>
                        <ul>
                            <li>Playing games and thinking how the developers have created, made me to get into coding. And from then I always wanted to create games with latest technologies like Microsoft Kinect, Oculus Rift.</li>
                            <li>I have created both 3D and 2D games for my college fest.</li>
                        </ul>


                        <h4>Software Developer</h4>
                        <ul>
                            <li>Pyhton is the first language that I have used to write code. If not python I would not have fallen in love with coding.</li>
                            <li>I want to take my Python coding skills to the next level. So I used Qt Designer with PyQt library to make softwares and also used some libraries to compare 2 genomes in my biology project.</li>
                        </ul>


                        <h4>UI/UX</h4>
                        <ul>
                            <li>After making some apps, I always felt other apps are more user friendly and had beautiful interfaces. So I thought of first making wireframes and then got to development and thus in UI/UX.</li>
                        </ul>


                        <h4>Backend Devloper</h4>
                        <ul>
                            <li>Creating professional Apps have not been easy for me till I learnt backend. So I started writing backend for all my apps, maintaining databases and domains. </li>
                        </ul>


                        <h4>Arduino & Raspberry Pie</h4>
                        <ul>
                            <li>After some years of my life with coding, I started to think that only writing codes doesn't make special.</li>
                            <li>I always wanted to fill my house with all the machines and robots moving aroud, simplifying my work. And then I thought of learning about hardware and thus Arduino and Raspberry Pie.</li>
                        </ul>
                    </div>



<!--                     <div>
                        <h3><strong>Codians Inc. <span class="pull pull-right">Aug’13-Dec’15</span></strong></h3>
                        <h4>Founder/Front-end Developer</h4>
                        <ul>
                            <li>Founded in College in 2013 with 5 memebers to work on Project Called ChristCode.</li>
                            <li>Worked with various Departments, Faculty Member and Students and developed Android Applications, Static websites, Web Apps and Posters.</li>
                            <li>
                                Experience of working more than 30 projects on various platform and devices.
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <h1 class="title underline">Technical Skills</h1>

                    <p><strong>Languages</strong></p>
                    <div class="skills">
                        <span> Python </span>
                        <span> Java </span>
                        <span> JavaScript </span>
                        <span> HTML/CSS </span>
                        <span> Swift </span>
                        <span> C# </span>
                        <span> PHP/MySQL </span>
                        <span> Basic C / R programming </span>
                        <span>...</span>
                    </div>
<!--                     <p><strong>Frameworks</strong></p>
                    <div class="skills">
                        <span><i class="fa fa-angularjs"></i> AngularJS</span>
                        <span><i class="fa fa"></i> jQuery</span>
                        <span><i class="fa fa"></i> Polymer</span>
                        <span><i class="fa fa"></i> TweenMax</span>
                        <span>...</span>
                    </div> -->
                    <p><strong>Softwares & Tools</strong></p>
                    <div class="skills">
                        <span> Andorid Studio </span>
                        <span> Xcode </span>
                        <span> Unity</span>
                        <span> Gamesalad </span>
                        <span> Sketch </span>
                        <span> Qt </span>
                        <span> Ionic </span>
                        <span> Arduino </span>
                        <span>...</span>
                    </div>
                    <p><strong>Technologies</strong></p>
                    <div class="skills">
                        <span>PhoneGap/Cordova</span>
                        <span>SVG</span>
                        <span>Web Components</span>
                        <span>...</span>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <h1 class="title underline">Interpersonal Skills</h1>

                    <ul>
                        <li>Demonstrated ability to take constructive criticism in a positive manner.</li>
                        <li>Excellent ability to adapt to changing work environments</li>
                        <li>Encouraging attitude with a strong capability of inspiring others.</li>
                        <li>Active listening skills targeted at handling problems.</li>
                    </ul>

                </div>
            </div>
            <div class="line"></div>
            <div class="row hide">
                <div class="col-sm-8 text-center">
                    <a href="#/contact" class="no-style">
                        <button class="btn btn-yo">
                            Invite me for a Job Interview
                        </button>
                    </a>
                </div>
                <div class="col-sm-4"></div>

            </div>
        </div>
    </div>

</div>
