<!--Fast Buy-->
<section class="project" ng-controller="ProjectCtrl">
    <header>
        <div class="header-bg" style="background-color:#91AE42;">
            <div class="container">
                <a href="#/projects" class="btn btn-back"><i class="fa fa-arrow-left"></i> <span class="hidden-xs">Go Back</span></a>
                <div class="row header">
                    <div class="col-sm-8">
                        <div class="titles">
                            <h1 style="background-color:#FFF; color: #444;">Fast Buy</h1>
                            <br>

                            <br>
                            <a href="https://itunes.apple.com/us/app/fast-buy-online-grocery/id1086993705?mt=8" target="_blank">
                                <button class="btn btn-yo btn-white">
                                    iOS
                                </button>

                            </a>
                            <a href="https://play.google.com/store/apps/details?id=com.saikrishna.fastbuy&hl=en" target="_blank">
                                <button class="btn btn-yo btn-white">
                                    Android
                                </button>

                            </a>
                        </div>
                        <div>
                            <div class="row stats text-center">

                                <div class="col-xs-4 col-sm-3">
                                    <div class="a-stat">
                                        <h6>App Rating</h6>
                                        <h1><i class="fa fa-star-o"></i></h1>
                                        <h4>4.9</h4>

                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <div class="a-stat">
                                        <h6>Project Type</h6>
                                        <h1><i class="fa fa-user"></i></h1>
                                        <h4>Individual</h4>

                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <div class="a-stat">
                                        <h6>Role</h6>
                                        <h1><i class="fa fa-file-code-o"></i></h1>
                                        <h4>Design + Code</h4>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <img src="public/img/work/fastbuy/unnamed-2.jpg" class="img-responsive" id="headerImg">
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-1"></div>
                <div class="col-xs-12 col-sm-4">
                    <div>
                        <h3 class="title text-right">
                            About the Project
                        </h3>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5"></div>
            </div>
        </div>
    </header>


    <div class="container">
        <!--    header row-->

        <div class="qw">
            <div class="row sec">
                <div class="col-sm-4 side">
                    <div class="pb">
                        <h3>Client's Requirements</h3>
                    </div>
                </div>

                <div class="col-sm-8 main">
                    <div>
                        <p class="para">
                            Make his grocery store online on both iOS & Android. Taking orders from users and a real time updates of the order tracking. Include all the payment gateways.
                        </p>
                    </div>
                </div>
            </div>


            <div class="row sec">
                <div class="col-sm-4 side">
                    <div class="dts">
                        <h3><span>Details</span> about the project</h3>
                    </div>
                </div>

                <div class="col-sm-8 main">
                    <div>
                        <p class="para">
 Fast Buy app is a one-stop shop for all your grocery needs and much more. It provides you a convenient way to buy a wide range of products online and have them delivered to your doorstep. Right from groceries and staples, rice and dals, spices and seasonings to packaged products, personal care products – we have it all in our online market. Choose from a wide range of options in every category, exclusively handpicked to help you find the best quality available at the lowest prices.
<br>POPULAR CATEGORIES
<br>
Some of our most popular categories are listed below:
<br>1. Grocery and Staples: All your staples needs, and ayurvedic products.
<br>2. Personal care products: Find products such as grooming accessories, body care, skin care, hair care, oral care products and more from all your favorite brands.
<br>3. Household items: Find kitchen appliances, cookware, detergents, etc. with great discounts and deals.
<br>4. Imported and Gourmet food: Choose from the best imported gourmet cheese, jams, fruits and more.
<br>
PRESENT IN
<br>
Fast Buy operates in the following cities: Mahabubnagar.
      <br>                      
                        </p>

                    </div>
                </div>
            </div>


            <div class="row design">
                <div class="col-sm-4">

                    <div class="side">
                        <div class="app-type">
                            <h3>Type</h3>
                            <h1>iOS and Android app <i class="fa fa-globe"></i></h1>
                        </div>
                    </div>


<!--                     <div class="side">
                        <h3>Colors</h3>
                        <div class="row colors">

                            <div class="cbox">
                                <div class="box" style="background: #4169E1;"></div>
                                <span>#4169E1</span>
                            </div>
                            <div class="cbox">
                                <div class="box" style="background: #f1f1f1;"></div>
                                <span>#F1F1F1</span>
                            </div>

                        </div>
                    </div> -->
                    <div class="side">
                        <h3>Technologies</h3>
                        <div class="platforms">
                            <span>Swift</span>
                            <span>Java</span>
                            <span>Xml</span>
                            <span>PHP</span>
                            <span>MySQL</span>
                            <span>Xcode</span>
                            <span>Android Studio</span>
                            <span>Sketch</span>
                        </div>
                    </div>

<!--                     <div class="side">
                        <h3>Worked With</h3>
                        <div class="worked-with">
                            <div>
                                <h4>Fabian Enos</h4>
                                <h6>Founder, Midnight Labs</h6>
                            </div>
                            <img class="img-responsive img-circle" ng-src="public/img/people/fabian.JPG">
                        </div>
                    </div> -->
                </div>
                <div class="col-sm-8">
                    <div class="design-img">
                        <img src="public/img/work/fastbuy/Group17.png" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="row new-project" ng-include="'public/views/partials/projects/next-project.html'">
            </div>
        </div>
    </div>
</section>
