<!--Fast Buy-->
<section class="project" ng-controller="ProjectCtrl">
    <header>
        <div class="header-bg" style="background-color:#91AE42;">
            <div class="container">
                <a href="#/projects" class="btn btn-back"><i class="fa fa-arrow-left"></i> <span class="hidden-xs">Go Back</span></a>
                <div class="row header">
                    <div class="col-sm-8">
                        <div class="titles">
                            <h1 style="background-color:#FFF; color: #444;">Fast Buy</h1>
                            <br>

                            <br>
                            <a href="https://itunes.apple.com/us/app/fast-buy-online-grocery/id1086993705?mt=8" target="_blank">
                                <button class="btn btn-yo btn-white" disabled>
                                    Software
                                </button>

                            </a>
                        </div>
                        <div>
                            <div class="row stats text-center">

                                <div class="col-xs-4 col-sm-3">
                                    <div class="a-stat">
                                        <h6>App Downloads</h6>
                                        <h1><i class="fa fa-star-o"></i></h1>
                                        <h4>-</h4>

                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <div class="a-stat">
                                        <h6>Project Type</h6>
                                        <h1><i class="fa fa-users"></i></h1>
                                        <h4>Team</h4>

                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <div class="a-stat">
                                        <h6>Role</h6>
                                        <h1><i class="fa fa-file-code-o"></i></h1>
                                        <h4>Design + Code</h4>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <img src="public/img/work/swenn/10501810_589672967841217_4175349163056156636_n.jpg" class="img-responsive" id="headerImg">
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-1"></div>
                <div class="col-xs-12 col-sm-4">
                    <div>
                        <h3 class="title text-right">
                            About the Project
                        </h3>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5"></div>
            </div>
        </div>
    </header>


    <div class="container">
        <!--    header row-->

        <div class="qw">
            <div class="row sec">
                <div class="col-sm-4 side">
                    <div class="pb">
                        <h3>Client's Requirements</h3>
                    </div>
                </div>

                <div class="col-sm-8 main">
                    <div>
                        <p class="para">
                            Get the latest news from a variety of your favorite online sources all in one desktop application , easy to read,bookmark and share with people.
                            That has given rise to a News aggregator desktop app with all the features such as personalized feed, sharing articles, bookmarks, adding feeds, etc,.
                        </p>
                    </div>
                </div>
            </div>


            <div class="row sec">
                <div class="col-sm-4 side">
                    <div class="dts">
                        <h3><span>Details</span> about the project</h3>
                    </div>
                </div>

                <div class="col-sm-8 main">
                    <div>
                        <p class="para">
SwenN is a desktop application to get one's favorite news from a variety of online websites at one spot. Users get to customize the application to get the news/updates from their favorite websites. They can bookmark it for future reviewing, they can also add the news they like in their 'Favorite's' list for future. Apart from all this, users can share the articles they love on social media.
      <br>                      
                        </p>

                    </div>
                </div>
            </div>


            <div class="row design">
                <div class="col-sm-4">

                    <div class="side">
                        <div class="app-type">
                            <h3>Type</h3>
                            <h1>Desktop App (Mac, Windows, Ubuntu) <i class="fa fa-globe"></i></h1>
                        </div>
                    </div>


<!--                     <div class="side">
                        <h3>Colors</h3>
                        <div class="row colors">

                            <div class="cbox">
                                <div class="box" style="background: #4169E1;"></div>
                                <span>#4169E1</span>
                            </div>
                            <div class="cbox">
                                <div class="box" style="background: #f1f1f1;"></div>
                                <span>#F1F1F1</span>
                            </div>

                        </div>
                    </div> -->
                    <div class="side">
                        <h3>Technologies</h3>
                        <div class="platforms">
                            <span>Python</span>
                            <span>Qt</span>
                            <span>PyQt</span>
                        </div>
                    </div>

<!--                     <div class="side">
                        <h3>Worked With</h3>
                        <div class="worked-with">
                            <div>
                                <h4>Fabian Enos</h4>
                                <h6>Founder, Midnight Labs</h6>
                            </div>
                            <img class="img-responsive img-circle" ng-src="public/img/people/fabian.JPG">
                        </div>
                    </div> -->
                </div>
                <div class="col-sm-8">
                    <div class="design-img">
                        <img src="public/img/work/swenn/Group19.png" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="row new-project" ng-include="'public/views/partials/projects/next-project.html'">
            </div>
        </div>
    </div>
</section>
